label{
    font-size: 14px;
    padding-top: 5px;
}

/* .dataArea{
    position: relative;
    float: left;
    width: 100%;
    margin-left: 20px;
    overflow: hidden;
} */

.editArea{
    display: inline-block;
    position: relative;
    margin-left: 84%;
    width: 40px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    border: 0.5px solid rgb(187, 187, 187)
    /* box-shadow: 0.3px 0.3px 1px 1px #5c5a6e8f; */
}
.editButton{
    all: unset;
    /* background-color: #F4F5F8; */
    /* box-shadow: 0.3px 0.3px 1px 1px #5c5a6e8f; */
}
.editButton .editSpan{
    /* display: block; */
    float: right;
    padding: 5px 5px 5px 3px;
}
.editArea:hover{
    cursor: pointer;
    background-color: rgba(149, 188, 255, 0.425);
}
.edit{
    display: none;
    position: absolute;
    width: 180px;
    /* top: 10px; */
    right: 0;
    margin-top: 10px;
    padding: 10%;
    background-color: #F4F5F8;
    border: 1px solid rgba(182, 182, 182, 0.76);
    border-radius: 3px;
    z-index: 1000;
    /* margin-right: 5%; */
}
.edit p{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 16px;
}

.confirmButton{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    /* margin-right: 15px; */
    padding: 4px 10px;
    border-radius: 3px;
    border: 1px solid rgb(201, 201, 201);
}
.MultiFilterArea{
    float: left;
    width: 10%;
    /* margin-top: 15px; */
    /* margin-top: 52px; */
    margin-right: 15px;
    height: 100vh;
    padding: 1%;
    background-color: #F4F5F8;
    border-radius: 3px;
    border: 1px solid rgb(226, 226, 226);
    /* color: white; */
}
.clearall{
    display: inline-block;
    margin-left: 24%;
    font-size: 12px;
    /* background-color: #106697c5; */
    /* color: white; */
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 2px #adadad;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}
.el-checkbox{
    /* color: white; */
    margin-left: 15px;
}
.filterP{
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}
.filterTitle{
    margin: 25px 0px 10px 5px;
    font-size: 14px;
}

#reportrange{
    width: 100px;
    /* height: 20px; */
    padding: 1%;
    border-radius: 4px;
    left: 190px;
}

.timeSpan{
    width: 100px;
    display:block;
    /* line-height: 20px; */
    /* border: 1px solid #000; */
    /* vertical-align: middle; */
    font-size: 12px;
    color: #61656e;
    font-family: Arial;
    letter-spacing: 1px;
    /* padding-top: 3px; */
}

.dataRightArea{
    float: left;
    width: 86%;
    /* margin-left: 1%; */
}

.filter{
    width: 100%;
    margin-left: 1.5%;
    /* margin-bottom: 5px; */
}
.filter button{
    all: unset;
    width: 100%;
}

.filter li{
    float: left;
    width: 120px;
    margin-right: 1%;
}
.elcheckbox{
    width: 100%;
}
.labelDiv{
    padding-top: 15px;
    padding-bottom: 10px;
}
.labelDiv img{
    padding-left: 10px;
    margin-right: 10px;
}
.labelDiv span{
    /* all: unset; */
    font-size: 18px;
}
.filter li:hover{
    cursor: pointer;
    /* background: #F1F3F6; */
    /* background: rgba(138, 165, 224, 0.623); */
    color: rgb(55, 134, 55);
    border-bottom: 2px solid green;
}
.focus{
    color: rgb(55, 134, 55);
    border-bottom: 2px solid green;
}
.labelchoose{
    display: none;
    float: left;
    margin: 30px 5px 20px 5px;
}

.el-table{
    float: left;
    margin-right: 7%;
}
.el-table a{
    color: blue;
}
table.vgt-table td{
    vertical-align: middle;
}
.vgt-table thead th{
    padding-right: 0px;
    background: rgba(233, 233, 233, 0.5);
}
.slot_div{
    float: left;
}


tr:hover td{
    background-color: #CCCCCC;
}
.el-select{
    width: 130px;
    margin-right: 10px;
}
.el-input{
    height: 30px;
    width: 100%;
}
.el-input__inner{
    height: 30px;
    font-size: 12px;
}


.vgt-table th.line-numbers, .vgt-table th.vgt-checkbox-col{
    border-bottom: 1px solid #dcdfe6;
    border-right: none;
    background-color: rgba(51,68,109,.03);
}
.none{
    background-color: #106697c5;
    color: white;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 2px #adadad;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}
.ing{
    background-color: rgba(29, 151, 55, 0.836);
    color: white;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 2px #adadad;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}
.done{
    background-color: rgb(190, 190, 190);
    color: rgb(218, 0, 0);
    padding: 7px;
    border-radius: 3px;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}

.none,.ing{
    -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
}
.none:active, .editButton:active, .ing:active{
    -webkit-box-shadow: 2px 2px 0px #adadad;
    -moz-box-shadow: 2px 2px 0px #adadad;
    box-shadow: 1px 1px 0px #adadad;
    position:relative;
    top:1px;
    left:1px;
}
.replyButton{
    /* background-color: #ffffffc5; */
    /* color: rgb(90, 88, 88); */
    padding: 7px;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 2px #adadad;
    font-family: "Segoe UI";
    letter-spacing: 1px;
}
.vgt-global-search{
    padding: 10px;
}
.vgt-input{
    width: 50%;
}
.vgt-inner-wrap{
    position: relative;
    z-index: 1;
}

.el-select .el-input .el-select__caret{
    line-height: 25px;   
}
.el-table a{
    color: rgb(39, 30, 165);
}
@media (max-width: 768px) {
    /* .display_ipad{
        display: none;
    } */
    .editArea{
        display: none;
        background: #000;
    }
    .filter{
        display: none;
        background: orange;
        margin: 0;
    }
    .dataArea{
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    .MultiFilterArea{
        background: yellow;
        width: 100%;
        height: unset;
        display: none;
    }
    .dataRightArea{
        width: 90%;
        margin: 0 5%;
    }
    .el-table{
        margin: 0;
    }
}
@media (max-width: 425px) {
    .display{
        display: none;
    }
}